.Navb{
      display: flex;
      justify-content: space-between;
      padding: 2em;
}
.Navb ul{
    display: flex;
    gap: 20px;

}

.Navb li{
    list-style: none;
}

.Navb li:hover{
    color: rgb(164, 67, 255);
    font-weight: 500;
    cursor: pointer;
    transform: translateY(-7px);
    transition-duration: 1s;
}

.Navb a {
    color: aliceblue;
    text-decoration: none;
}

.Navb a:visited {
    color: inherit
}

@media screen and (min-width:600px) and (max-width:1080px) {
    
}

@media screen and (max-width:600px) {
    .Navb {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 100px;
    }



    
}