.Button { 
    background-color: #01091C;
    opacity: 80%;
    border: #004cff solid 1px;
    border-radius: 15px;
    color: #064ffa ;
    font-size: 15px;
    font-weight: 800;
    height: 60px;
    width: 100%;
}

.Button:hover {
    font-size: 20px;
    cursor: pointer;
    background-color: #004cff;
    color: #000000;
    border: none;
    transform: translateY(-7px);
    transition-duration: 1s;
    width: 100%;
}

@media screen and (min-width:600px) and (max-width:1080px) {
    .Button { 
        width: 90%;
        margin-bottom: 20px;
    }

    .Button:hover {
        width: 95%;
    }
    
}

@media screen and (max-width:600px) {
    .Button { 
        font-size: 18px;
        width: 100%;

    }
    
}